body{
  width: 98vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected{
  background-color: rgb(0, 255, 0);
}

.Nonselected{
  background-color: rgb(255, 255, 255);
}